<html  ng-app="myApp">
    <head>
        <style type="text/css">
            .orange{
                color:orange;
            }
            .italic{
                font-style:italic;
            }
        
        </style>
        <script src="angular.min.js"></script>
        <script src="services.js"></script>
    </head>
    <body ng-controller="myCtrl">
       <!-- {{msg}}-->
        
        <h1 ng-class="{orange:true}">hello there </h1>
        <h1 ng-class="[myVar,'italic']">hello there </h1>
        <!--<h1 ng-class="{orange:false}">hello there </h1>-->
        <h1 ng-class="{orange:myVar, italic:myVar}">hello there specific </h1>
        
       <!-- <div ng-include="'test.html'"></div>
        <script type="text/ng-template" id="test.html">
<h1>mytemplate</h1>-->
        <!--
        <div>{{10 + 20}}</div>
        <div>{{obj.fname}}</div>-->
        <!--<div>{{{fname:"mayuri",lname:"jethwa"}.fname}}</div>
        <div>{{["john","jane","doe"][2]}}</div>-->
        <!--<input type="text" ng-model="msg">
        {{msg}}-->
        <!--
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Gender</th>
                    <th>salary</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat ="employee in employeesObj">
                    <td>{{employee.firstName | uppercase}}</td>
                    <td>{{employee.lastName |lowercase}}</td>
                    <td>{{employee.gender}}</td>
                    <td>{{employee.salary|currency}}</td>
                </tr>
            </tbody>
        </table>
        
        <button type="button" ng-click="myFunc()">click me</button>
        <input type = "checkbox" ng-model = "enableDisableButton">Disable Button
        <button ng-disabled = "enableDisableButton">Click Me!</button>
        
        <input type = "checkbox" ng-model = "showButton">show Button 
        <button ng-show = "showButton">Click Me!</button>
        
        <input type = "checkbox" ng-model = "hideButton">hideButton
        <button ng-hide = "hideButton">Click Me!</button>
        
        <input type = "checkbox" ng-model = "showIftrue">show Iftrue
        <button ng-if = "showIftrue">Click Me!</button>
-->    </body>



</html>