<html ng-app="myApp">
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
        <script src = "prac.js"></script>
    </head>
    <body >
        
        <div ng-controller="myCtrl">
            
            
        <!--<div ng-include="'student.html'"></div>-->
            <!--
        {{firstname}}
        <input type="text" ng-model="firstname"/>
        {{obj.name}}
        {{today| date :  "dd.MM.y"}}
        
        <table>
            <thead>
                <tr>
                    <th>firstname</th>
                    <th>lastname</th>
                    <th>gender</th>
                    <th>salary</th>
                </tr>
            </thead>
            <tbody ng-repeat = "employee in employees" >
                <tr>
                    <td>{{employee.firstName | uppercase}}</td>
                    <td>{{employee.lastName |lowercase}}</td>
                    <td>{{employee.gender}}</td>
                    <td>{{employee.salary |currency}}</td>
                </tr>
            </tbody>
        </table>
            --><!--
        <input name="check" type="checkbox" ng-model="disable" />disabled
        <button type="button" ng-disabled="disable">click</button><br>
        
        
        <input name="check" type="checkbox" ng-model="hide" />hidden
        <button type="button" ng-hide="hide">click</button><br>
        
        <input name="check" type="checkbox" ng-model="shown" />shown
        <button type="button" ng-show="shown">click</button><br>
        
        <input name="check" type="checkbox" ng-model="showIfTrue" />shown if true
        <button type="button" ng-if="showIfTrue">click</button>-->
        </div>
        
        <!--<div ng-controller="myctrl2">
        {{msg}}
        </div>-->
        
    </body>
</html>